<li id="post-<%= post.id %>">
  <%= link_to gravatar_image_of(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <% Array(post.post_pictures).each do |picture| %>
      <%= image_tag picture.picture.url, style: 'width:200px; height:auto;' if picture.picture? %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
